services:
  db:
    image: ysql:8.0.41
    container_name: <mysql_container_name>
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: <mysql_password>
      MYSQL_DATABASE: <db_name>
    ports:
      - "<mysql_port>:3306"
    volumes:
      - <mysql_container_name>:/var/lib/mysql
   
  redis-cache:
    image: redis:alpine
    container_name: <redis_container_name>
    restart: always
    ports:
      - "6379:6379"
  
   rabbitmq:
    image: rabbitmq:3-management
    container_name: <rabbitMQ_container_name>
    restart: always
    ports:
      - "5672:5672"  
      - "15672:15672" 
    environment:
      RABBITMQ_DEFAULT_USER: myusername
      RABBITMQ_DEFAULT_PASS: mypassword
      RABBITMQ_DEFAULT_VHOST: myvhost
    volumes:
      - <rabbitMQ_container_name>:/var/lib/rabbitmq
 
volumes:
  <sql_container_name>:
  <rabbitmq_container_name>:
