{
  "ConnectionStrings": {
    "DefaultConnection": "server=127.0.0.1;port=<docker_mysql_port>;database=trainee_management_db;user=root;password=<docker_mysql_password>;"
  },
  "RabbitMQ": {
    "Username": "<rabbitMQ_Username>",
    "Password": "<rabbitMQ_Password>"
  },
  "Redis":{
    "ConnectionString": "127.0.0.1:<redis_port>"
  }
}

